:root {
    --light: rgb(230, 230, 230);
    --primary: rgb(231, 87, 87);
    --secondary: rgb(83, 119, 121);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    color: var(--light);
}
a {
    text-decoration: none;
    color: var(--primary);
}
textarea {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 90%;
    margin: 1rem auto;
}
